* {
    box-sizing: border-box;
}

.grid {
    /* design */
    outline: 1px solid blueviolet;

    /* size */
    min-height: 100vh;

    /* Square root of 2 is a constant */
    --sqrt: 1.41421356237;

    /* divide by number of "columns" since we only 
    have 2 columns we use 2 as the denominator */
    --grid-unit: calc(50vw / 2);
    --transform-unit: calc(var(--grid-unit) / var(--sqrt));
    --unit: calc(var(--transform-unit));
}

.layout {
    /* design */
    outline: 1px solid salmon;

    /* size */
    height: calc(var(--grid-unit) * 0.5);

    /* position */
    position: relative;
}

.item {
    height: calc(var(--unit) + 1px);
    width: calc(var(--unit) + 1px);

    /* position */
    position: absolute;
    inset: 0;
    margin: auto;
    z-index: 1;

    /* Let border create the grid gaps */
    border: 2px solid transparent;
    pointer-events: auto;

    /* containment */
    overflow: hidden;

    /* design */
    /* rotate items */
    transform: rotate(45deg) translateZ(0);
    /* transform-origin: 0% 0%; */
}

/* odd items */
.layout:nth-child(odd) .item:first-child {
    /* design */
    /* outline: 1px solid green; */

    /* position */
    left: calc(var(--grid-unit) * -0.5);
}
.layout:nth-child(odd) .item:last-child:not(:first-child) {
    /* design */
    /* outline: 1px solid gold; */

    /* position */
    /* left: calc(var(--grid-unit) * 3); */
}

/* even items */
.layout:nth-child(even) .item:first-child {
    /* design */
    /* outline: 1px solid slateblue; */

    /* position */
    /* left: calc(var(--grid-unit) * 2); */
}

.layout:nth-child(even) .item:last-child {
    /* design */
    /* outline: 1px solid saddlebrown; */

    /* position */
    left: calc(var(--grid-unit) * 0.5);
}

.content {
    /* size */
    height: var(--unit);
    width: var(--unit);

    /* display */
    display: table-cell;

    /* design */
    text-align: center;
    vertical-align: middle;
}

.content > * {
    /* Rotate content 45deg counter clockwise */
    transform: scale(1.5) rotate(-45deg);
}

.content img {
    /* size */
    height: 100%;
    width: 100%;

    /* position */
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center center;
    
    /* design */
    pointer-events: none;
    user-select: none;
}

@media (width < 640px){
    .layout{
        /* size */
        height: calc(var(--unit) + 1px);
    }

    .item{
        /* design */
        transform: rotate(0deg);

        /* position */
        inset: 0;
        margin: auto;
    }

    .layout:nth-child(odd) .item:first-child,
    .layout:nth-child(even) .item:last-child{
        /* position */
        inset: 0;
        margin: auto;
    }
}
