@media (width < 862px){
    .navbar-container{
        /* size */
        width: 100%;

        /* position */
        position: fixed;
        top: 0;
        z-index: 10;

        /* design */
        mix-blend-mode: difference;

        /* transition */
        transition: top 0.25s cubic-bezier(0.5, 0, 0, 1);
    }

    .navbar{
        /* size */
        height: clamp(3.5rem, 6.5vw, 6.5rem);
        width: 100%;
        padding-right: 0;
      
        /* display */
        display: flex;
      
        /*alignment */
        justify-content: flex-end;
        align-items: center;
      
        /* position */
        position: relative;
      
        /* design */
        /* outline: 1px solid blue; */
    }

    /* override min-height and min-width height and width values of .nav-brand-container 
    but keep it absolute still */
    .nav-brand-container{
        /* display */
        display: flex;
        justify-content: space-between;
        align-items: center;

        /* size */
        height: min-content;
        width: 85%;

        /* position */
        position: absolute;
        z-index: 3;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
        margin-left: auto;

        /* design */
        /* outline: 2px solid red; */
    }

    .nav-brand-container .navbar-brand{
        /* display */
        display: block; 

        /* design */
        color: white;
        font-size: clamp(24px, 2vw, 32px);
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        text-decoration: none;
        /* outline: 1px solid yellow; */

        /* animation */
        transition-property: opacity;
        transition-duration: 0.25s;
        transition-timing-function: ease-in-out;
    }

    /* for the navbar button and its animations */
    .nav-brand-container .button-container{
        /* display */
        display: block;      

        /* position*/
        position: relative;

        /* size */
        height: 1rem;
        width: 1.75rem;

        /* design */
        background-color: transparent;
        /* outline: 1px solid lightgreen; */
    }

    .nav-menu-container{
        /* display */
        display: flex;
        visibility: hidden;
        opacity: 0%;

        /* position */
        position: fixed;
        z-index: 2;

        /* design */
        background-color: white;
        /* outline: 2px solid yellow; */

        /* alignment */
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        justify-content: center;

        /* size */
        width: 100%;

        /* transition */
        transition:
            opacity 0.25s ease-in-out,
            visibility 0.25s ease-in-out;
    }

    .nav-menu{
        /* display */
        display: flex;

        /* spacing */
        column-gap: 1rem;

        /* design */
        /* outline: 2px solid blue; */
    }

    .nav-item{
        /* display */
        display: block;

        /* spacing */
        padding-top: .5em;
        padding-bottom: .5em;

        /* size */
        width: 10rem;

        /* design */
        text-align: center;
        color: black;
        font-size: 13px;
        font-weight: 300;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        /* outline: 3px solid lightgreen; */

        /* position */
        position: relative;
    }

    .nav-item::after{
        /* display */
        display: block;

        /* design */
        content: '';
        border: 1px solid transparent;
        transform: scaleX(0%);
        
        /* size */
        position: absolute;
        z-index: -1;
        inset: 0;
        margin: auto;
        width: 100%;
        height: 100%;

        /* transition */
        transition: 
            border 0.5s ease-in-out,
            transform 0.5s cubic-bezier(0.5, 0, 0, 1);
    }

    .nav-item:hover::after{
        /* design */
        transform: scaleX(100%);
        border-top: solid 1px black;
        border-bottom: solid 1px black;
    }

    /* MOBILE */
    .button-container::before, .button-container::after{
        /* size */
        height: 2px;

        /* position */
        position: absolute;

        /* display */
        display: block;

        /* design */
        background-color: white;
        content: '';
    }

    .button-container::before{
        /* position */
        top: 0%;

        /* size */
        width: 100%;

        /* transition */
        transition: 
            top 0.25s ease-in-out,
            transform 0.25s ease-in-out;
    }

    .button-container::after{
        /* position */
        bottom: 0%;

        /* size */
        width: 50%;

        /* transition */
        transition: 
            bottom 0.25s ease-in-out,
            transform 0.25s ease-in-out;
    }

    .button-container .bar{
        /* position */
        position: absolute;
        inset-block: 0;
        margin-block: auto;

        /* size */
        height: 2px;
        width: 75%;

        /* design */
        background-color: white;
    }

    /* on click of button-container translate top and bottom of before and after bars */
    .button-container.opened::before{
        background-color: black;
        top: 50%;
        transform: translateY(-50%);
    }

    .button-container.opened .bar{
        background-color: black;
    }
    
    .button-container.opened::after{
        background-color: black;
        bottom: 50%;
        transform: translateY(50%);
    }

    .navbar-container.opened{
        mix-blend-mode: normal;
    }

    .navbar-container.opened .nav-brand-container .navbar-brand{
        opacity: 0%;
    }

    .navbar-container.opened .nav-menu-container{
        visibility: visible;
        opacity: 100%;
    }

    /* nav-menu styles are initially set before its 
    visibility is hidden and opacity set to 0 */
    .navbar .nav-menu-container .nav-menu{
        flex-direction: column;
        justify-content: center;
        row-gap: clamp(2.5rem, 7.42vw, 4rem);
    }
}